<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratings</title>
</head>
<body>
    <div class="navbar">
        <a href="/">
            <h2>Ratings</h2>
        </a>
    </div>
    <div class="main">
        <form action="{% url 'core:search' %}" method="GET">
            <input type="text" name="name" placeholder="Enter the name of a movie or a show" autocomplete="off">
        </form>
    </div>
    <div class="footer">
        <p>Inspiration from <a href="https://www.tiktok.com/@robertosorio08" target="_blank">robertosorio08</a></p>
    </div>
</body>
</html>