{% load static %}
{% load tailwindcss %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="{% static 'core/js/details.js' %}" defer></script>
    {% tailwindcss %}
    <link rel="stylesheet" href="{% static 'core/css/serie_details.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/tablestyles.css' %}">
</head>

<body>
    <div class="navbar">
        <h2>
            <a href="/">
                Ratings
            </a>
        </h2>
        <p class="author">by <a href="#">Edgar Muyomba</a></p>
    </div>
    <div class="main">
        <div class="image">
            <img src="{{ poster }}" alt="movie_poster" width="300px" height="auto">
        </div>
        <div class="details">
            <p class="title"><a href="#">{{ title }}</a> <span>{{ year }}</span></p>
            <p class="released">{{ released }}</p>
            <p class="imdbId" hidden>{{ imdbId }}</p>
            <div class="ratings">
                <p style="display: flex; align-items: center;">{{ rating }}<img src="{% static 'core/icons/star.svg' %}"
                        width='16px' height="auto" alt=""></p>
            </div>
            <h4>Plot</h4>
            <p class="plot">{{ plot }}</p>
            <p style="font-size: 17px; font-weight: bold;">Actors</p>
            <p class="actors">{{ actors }}</p>
        </div>
        <div class="episodes">
            <h3 class="episodes">Episodes</h3>
            <div class="useless">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                quam deserunt commodi alias aperiam rem odio, aliquam veritatis illum
                quisquam quos distinctio molestias quo ea autem cupiditate temporibus est ab?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                quam deserunt commodi alias aperiam rem odio, aliquam veritatis illum
                quisquam quos distinctio molestias quo ea autem cupiditate temporibus est ab?
            </div>
            <table>
                <!-- <tr>
                    <th></th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
                <tr>
                    <td class="index">1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td class="index">2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td class="index">3</td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td class="index">4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td class="index">5</td>
                    <td>5</td>
                    <td>5</td>
                    <td></td>
                    <td>5</td>
                </tr>
                <tr>
                    <td class="index">6</td>
                    <td></td>
                    <td>6</td>
                    <td></td>
                    <td>6</td>
                </tr>
                <tr>
                    <td class="index">7</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>7</td>
                </tr> -->
            </table>
        </div>
    </div>
</body>

</html>